body {
  background-color: #f9f9f9;
  color: #333;
  font-family: "Arial", sans-serif
}

h1 {
  color: black;
  text-align: center;
}


p {
  font-family: Times New Roman;
  font-size: 20px;
}

header {
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
}

.lfcheck {
    position: relative;
    top: -55px;
    left: 350px;

}

.lfusername, .lfpassword {
    width: 100%;
    padding: 12px;

}

.rfusername, .rfpassword, .rfemail {
    width: 120%;
    padding: 12px;
    position: relative;
    left: -30px;

}
.lfsubmit {
    width: 30%;
    background-color: #000;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 20px;

}

.rfsubmit {
    width: 55%;
    background-color: #000;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    position: relative;
    left: 50px;

}

.mainimage { 
  width: 800; 
  height: 600;
}


.loginform {
  background-color: #dca05b;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.registrationform {
    background-color: #dca05b;
    padding: 5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  }


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.posts {
  margin: 2rem 0;
}

.post {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}
.post h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #007BFF;
}


.post p {
  line-height: 1.0;
}

.post-meta {
  font-size: 0.875rem;
  color: #666;
  margin-top: 1rem;
}