{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="registrationform">
            <h1>Редактирование поста</h1>

        <p>
            {{ form.add_title(class="rfusername",
            placeholder=form.add_title.label.text,size=32) }}<br>
            {% for error in form.add_title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.add_post(class="rfusername",
            placeholder=form.add_post.label.text,size=32) }}<br>
            {% for error in form.add_post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.add_date(class="rfusername",
            placeholder=form.add_date.label.text,size=32) }}<br>
            {% for error in form.add_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.add_user_id(class="rfusername",
            placeholder=form.add_user_id.label.text,size=32) }}<br>
            {% for error in form.add_user_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit(class="rfsubmit") }}</p>
    </div>
    </form>
{% endblock %}