{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="registrationform">
            <h1>Добавление поста</h1>

        <p>
            {{ form.change_title(class="rfusername",
            placeholder=form.change_title.label.text,size=32) }}<br>
            {% for error in form.change_title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.change_post(class="rfusername",
            placeholder=form.change_post.label.text,size=32) }}<br>
            {% for error in form.change_post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit(class="rfsubmit") }}</p>
    </div>
    </form>
{% endblock %}