{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Привет, {{ current_user.username }}!</h1>
    <section class="posts">
        <img  src="{{ url_for('static', filename='images/i3.png') }}"> 
        
        
        <div class="col-6 mx-auto">
            {% for post in posts %}
              <div class="card my-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title text-primary">{{ post.title }}</h5>
                
                </div>
                  <p class="card-text">{{ post.text }}</p>
                  <p class="card-text"><small class="text-muted">Написано {{ post.date }}</small></p>
            
                </div>
              </div>
            {% endfor %}
          </div>
          {% endblock %}
    