{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Привет, {{ current_user.username }}!</h1>
    <section class="posts">
        <img  src="{{ url_for('static', filename='images/i3.png') }}"> 
        
        {% for post in posts %}
            <article class="post">
                <h2>{{ post.title }} </h2>
                <p>{{ post.text }} </p>
                <p class="post-meta">{{ post.date }}</p>
            </article>
        {% endfor %}
{% endblock %}