{% extends "base.html" %}

{% block content %}
  {{ form.hidden_tag() }}
  <form action="" method="post" novalidate>
        <div class="loginform">
            <h1>Войти в аккаунт </h1>
            <p>
                {{form.username(class="lfusername",
                placeholder=form.username.label.text,size=64)  }}<br>
            </p>
            <p>
                {{ form.password(class="lfpassword",
                placeholder=form.password.label.text,size=64) }}<br>
            </p>
            <p>{{ form.submit(class="lfsubmit") }}</p>
            <div class="lfcheck">
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            </div>
        </div>
    </form>
{% endblock %}