{% extends "base.html" %}

{% block content %}
  <h1>Войти</h1>
  {{ form.hidden_tag() }}
  <form action="" method="post" novalidate>
      <div class="loginform">
      <p>
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}
      </p>
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}
      </p>
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <p>{{ form.submit() }}</p>
      </div>
  </form>
{% endblock %}