{% extends "base.html" %}

{% block content %}
    <h2 class="username"> {{ user.username }}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            <p>
                <img src="{{ user.avatar_url() }}" alt="{{ user.username }}'s avatar" width="150" height="150">
                <br>
                {{ form.avatar.label }}<br>
                {{ form.avatar() }} <br>
                {{ form.submit() }}
                {% for error in form.avatar.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

    </form>
    <hr>


    <button class = "addpost" href="/add_post">Добавить пост</button>
    {% for post in posts %}
    <article class="post">
        <h2>{{ post.title }} </h2>
        <p>{{ post.text }}</p>
        <p class="post-meta">{{ post.date }}</p>
    </article>
    {% endfor %}
{% endblock %}